.titleCenter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleFigure {
  padding: 10vw;
  position: absolute;
  background-color: var(--HomeHeader);
  color: var(--HomeTextColor);
  animation: topToBotton 1s cubic-bezier(0.39, 1.33, 0.68, 0.95);
  border-radius: 10px;
}
.titleFigure .title {
  margin-bottom: 0.2em;
}
.titleFigure .subtitle {
  color: var(--HomeTextColor2);
  margin: 0.1em 0.5em;
}
.HomeSubtitles {
  max-width: 25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-aspect-ratio: 8/4) {
  .titleFigure {
    padding: 20vh;
  }
}
@keyframes topToBotton {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateX(0);
  }
}
