:root {
  --rotationSpeed: 15s;
}

.handsCenter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.handsRotation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: Rotation;
  animation-duration: var(--rotationSpeed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.handCircle {
  position: relative;
  --circleRadius: 80vw;
  width: var(--circleRadius);
  height: var(--circleRadius);
  border-radius: 50%;
}
.handAngle {
  position: absolute;
}
.handAngle:nth-child(1) {
  transform: rotate(100deg);
}
.handAngle .hand {
  position: absolute;
  left: 30%;
  transform: translateY(100vh);
  --handshake: 0.3s;
  animation-name: UpAndDown, startHands;
  animation-duration: var(--handshake), 1s;
  animation-delay: 1.1s, var(--handshake);
  animation-timing-function: ease-in-out, cubic-bezier(0.43, -0.36, 0.58, 1.19);
  animation-iteration-count: infinite, 1;
  animation-direction: alternate, normal;
}
.handAngle:nth-child(2n) .hand {
  --handshake: 0.8s;
}
.handAngle:nth-child(1n + 3) .hand {
  --handshake: 0.2s;
}
.handAngle:nth-child(2n + 2) .hand {
  --handshake: 0.4s;
}
.handAngle:nth-child(3n) .hand {
  --handshake: 1s;
}
.handAngle:nth-child(4n + 3) .hand {
  --handshake: 0.7s;
}

.handAngle .hand img {
  transform: scale(0.8);
  transform-origin: 0 0;
}
@keyframes UpAndDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}
@keyframes startHands {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes Rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media querys */
@media (orientation: landscape) {
  .handCircle {
    --circleRadius: 80vh;
  }
}
@media (min-aspect-ratio: 8/4) {
  .handCircle {
    --circleRadius: 50vw;
  }
}
@media (min-width: 1600px) {
  .handAngle .hand img {
    transform: scale(1.2);
  }
}
@media (min-width: 2200px) {
  .handAngle .hand img {
    transform: scale(2);
  }
}
/* @media (min-width: 1600px) and (min-aspect-ratio: 8/3) {
  .handAngle .hand img {
    transform: scale(1.5);
    transform-origin: 0 0;
  }
} */
