.home-btn {
  position: absolute;
  bottom: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.43, -0.36, 0.58, 1.19);
  animation-delay: 0.5s;
  transition: all 0.3s;
}
.home-btn button {
  font-size: 1.5em;
  padding: 0.3em;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
}
.home-btn button:hover {
  transform: scale(1.2);
}
.home-btn button:active {
  transform: scale(0.8);
}
.home-btn.button-contact {
  transform: translate(-100vw) rotate(100deg);
  left: 10%;
  animation-name: FromLeft;
}
.home-btn.button-work {
  transform: translate(100vw) rotate(-100deg);
  right: 10%;
  animation-name: FromRight;
}

@keyframes FromLeft {
  from {
    transform: translate(-100vw) rotate(100deg);
  }
  to {
    transform: translate(0) rotate(-10deg);
  }
}
@keyframes FromRight {
  from {
    transform: translate(100vw) rotate(-100deg);
  }
  to {
    transform: translate(0) rotate(10deg);
  }
}
